<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true,
      macros: {
        i: "{\\operatorname{i}}",
        deg: "{\\operatorname{deg}}",
        lb: "{\\begin{bmatrix}}",
        eb: "{\\end{bmatrix}}",
        K: "{\\mathbb{K}}"
      }
    },
    options: {
      ignoreHtmlClass: 'tex2jax_ignore',
      processHtmlClass: 'tex2jax_process'
    }
  };
</script>
<script id="MathJax-script" async src="https://jsdelivr.net"></script>
